 /* Basic styling for the components */
 /* .post {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}


.post{
    border-radius: 20px;
} */
 /* .main-container{
    width: 100%;
} */

/* .post-container {
    margin-bottom: 45px;
}  */
.map{
    padding-top: 20px;
}